@model IEnumerable<NetCoreSeguridadEmpleados.Models.Empleado>

@{
    ViewData["Title"] = "Compis";
}

<h1>Compis</h1>

<table class="table table-warning">
    <thead>
        <tr>
            <th>
                ID EMPLEADO
            </th>
            <th>
                APELLIDO
            </th>
            <th>
                OFICIO
            </th>
            <th>
                SALARIO
            </th>
            <th>
                DEPARTAMENTO
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdEmpleado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Oficio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departamento)
            </td>
        </tr>
}
    </tbody>
</table>
